{
  "image_configuration": {
    "dither_algorithm": "2",
    "alpha_dither": "yes",
    "layout_rotation": "0",
    "opaque_image_format": "RGB565",
    "nonopaque_image_format": "ARGB8888",
    "l8_compression": "no",
    "rgb_compression": "no",
    "section": "ExtFlashSection",
    "extra_section": "ExtFlashSection",
    "images": {
      "meter_background_4ch.png": {
        "format": "RGB565"
      },
      "clipart3048752_white_120.png": {
        "format": "ARGB8888"
      },
      "meter_background_2ch.png": {
        "format": "RGB565"
      },
      "icon_stream_A.png": {
        "format": "RGB565"
      },
      "meter_bar_dim_46.png": {
        "format": "RGB565"
      },
      "icon_2ch_circles.png": {
        "format": "RGB565"
      },
      "icon_usb.png": {
        "format": "RGB565"
      },
      "meter_bar_lit_46.png": {
        "format": "RGB565"
      },
      "meter_bar_dim_22.png": {
        "format": "RGB565"
      },
      "meter_bar_lit_22.png": {
        "format": "RGB565"
      },
      "bar_frame.png": {
        "format": "RGB565"
      }
    }
  },
  "text_configuration": {
    "cache_size": 4096,
    "remap": "yes",
    "a4": "yes",
    "binary_translations": "no",
    "binary_fonts": "no",
    "framebuffer_bpp": "16",
    "font_format": "0",
    "copy_translations_to_ram": "no"
  }
}